{
    "presets": ["es2015"],
    "plugins": [
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "schema": "./schema",
            "constants": "./constants.js"
          }
        }]
      ]
}