{
    "presets": ["es2015"],
    "plugins": [
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "schema": "./schemas",
            "constants": "./constants.js",
            "rabbit": "./rabbit.js"
          }
        }]
      ]
}